@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;0,600;1,400&family=Bodoni+Moda:wght@400;500;600&display=swap');
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
    flex-direction: column;
    .set-text {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .circle {
        width: 50px;
        height: 50px;
        background: #F05454;
        border-radius: 50%;
        position: absolute;
        opacity: 50%;
    }
    .primary-text {
        font-size: 5vw;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 600;
        color: #dbd8d6;
        font-style: italic;
    }
    .secondary-text {
        position: relative;
        line-height: 2vw;
        font-family: "Bodoni Moda";
        font-weight: 400;
        font-size: 2vw;
        font-style: italic;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke: .5px #dbd8d6;
    }
}