.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: center;
    background-color: #191919;
    .image-section {
        width: 800px;
        height: 800px;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        animation: fadein 3s;
        margin-left: 2em;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    .info-section {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 19vw;
            font-style: italic;
            color: transparent;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke: 5px white;
        }
        h2 {
            position: relative;
            line-height: .5vw;
            font-size: 6vw;
            color: white;
        }
    }
}