.vote-area {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.unvote-btn {
    width: 50px;
    height: 50px;
    background: #FD7E89;
    border-radius: 50%;
    cursor: pointer;
}

.unvote-btn:hover {
    background: #ff969f;
}

.vote-btn {
    width: 50px;
    height: 50px;
    background: #89AA97;
    border-radius: 50%;
    cursor: pointer;
}

.vote-btn:hover {
    background: #769683;
}

.vote-button {
    background: #ffff;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 2px;
    color: #474747;
}

.unvote-button {
    background: #ffff;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 2px;
    color: #F05454;
}

.score {
    font-size: 50;
}

.score-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    width: 30%;
    height: 60%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px;
    border-radius: 10px;
    font-size: 50px;
}