* {
    margin: 0;
}

.App {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 2em;
}