.cursor {
    width: 20px;
    height: 20px;
    z-index: 1000;
    border-radius: 50%;
    background-color: #F05454;
    pointer-events: all;
    overflow: hidden;
    transform: translate(0, 0, 0);
    position: fixed;
}

.secondary-cursor {
    width: 30px;
    height: 30px;
    z-index: 1000;
    border-radius: 50%;
    background: #79B4B7;
    pointer-events: all;
    overflow: hidden;
    transform: translate(0, 0, 0);
    position: fixed;
}